# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

In [148]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime


airline_delays = pd.read_csv('data/airline_delays_1_year.csv')
airline_delays['date'] = pd.to_datetime(airline_delays['date'], format='%Y-%m')

In [149]:
airline_delays.head(10)

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021-01-01,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",110.0,1.0,0.63,0.00,0.38,0.00,0.00,2.0,0.0,32.0,20.0,0.0,12.0,0.0,0.0
1,2021-01-01,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",87.0,9.0,3.53,0.89,3.58,0.00,1.00,0.0,1.0,452.0,174.0,32.0,208.0,0.0,38.0
2,2021-01-01,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",79.0,7.0,3.87,1.00,2.13,0.00,0.00,0.0,0.0,969.0,351.0,541.0,77.0,0.0,0.0
3,2021-01-01,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,12.0,5.28,1.00,2.23,0.00,3.50,0.0,0.0,1093.0,247.0,519.0,49.0,0.0,278.0
4,2021-01-01,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",107.0,10.0,4.12,0.00,5.88,0.00,0.00,0.0,0.0,430.0,289.0,0.0,141.0,0.0,0.0
5,2021-01-01,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",5358.0,391.0,114.05,13.71,144.70,0.86,117.68,3.0,1.0,35063.0,16409.0,2003.0,7115.0,75.0,9461.0
6,2021-01-01,9E,Endeavor Air Inc.,ATW,"Appleton, WI: Appleton International",167.0,17.0,2.67,2.00,10.41,0.00,1.91,0.0,1.0,1928.0,581.0,922.0,277.0,0.0,148.0
7,2021-01-01,9E,Endeavor Air Inc.,AVL,"Asheville, NC: Asheville Regional",141.0,5.0,1.03,1.97,1.00,0.00,1.00,0.0,0.0,740.0,69.0,611.0,33.0,0.0,27.0
8,2021-01-01,9E,Endeavor Air Inc.,AZO,"Kalamazoo, MI: Kalamazoo/Battle Creek Internat...",95.0,9.0,3.97,1.00,4.03,0.00,0.00,0.0,0.0,1062.0,891.0,66.0,105.0,0.0,0.0
9,2021-01-01,9E,Endeavor Air Inc.,BDL,"Hartford, CT: Bradley International",143.0,20.0,5.31,0.00,13.69,0.00,1.00,0.0,0.0,880.0,497.0,0.0,349.0,0.0,34.0

In [150]:
airline_delays.shape

(18624, 20)

In [151]:
airline_delays.columns

Index(['date', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [152]:
airline_delays.dtypes

date                   datetime64[ns]
carrier                        object
carrier_name                   object
airport                        object
airport_name                   object
arr_flights                   float64
arr_del15                     float64
carrier_ct                    float64
weather_ct                    float64
nas_ct                        float64
security_ct                   float64
late_aircraft_ct              float64
arr_cancelled                 float64
arr_diverted                  float64
arr_delay                     float64
carrier_delay                 float64
weather_delay                 float64
nas_delay                     float64
security_delay                float64
late_aircraft_delay           float64
dtype: object

In [153]:
pd.DataFrame(airline_delays.dtypes, columns=['Data Types'])

                         Data Types
date                 datetime64[ns]
carrier                      object
carrier_name                 object
airport                      object
airport_name                 object
arr_flights                 float64
arr_del15                   float64
carrier_ct                  float64
weather_ct                  float64
nas_ct                      float64
security_ct                 float64
late_aircraft_ct            float64
arr_cancelled               float64
arr_diverted                float64
arr_delay                   float64
carrier_delay               float64
weather_delay               float64
nas_delay                   float64
security_delay              float64
late_aircraft_delay         float64

In [154]:
airline_delays.isnull()

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18619,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18620,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18621,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18622,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18623,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [155]:
airline_delays

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021-01-01,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",110.0,1.0,0.63,0.00,0.38,0.0,0.00,2.0,0.0,32.0,20.0,0.0,12.0,0.0,0.0
1,2021-01-01,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",87.0,9.0,3.53,0.89,3.58,0.0,1.00,0.0,1.0,452.0,174.0,32.0,208.0,0.0,38.0
2,2021-01-01,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",79.0,7.0,3.87,1.00,2.13,0.0,0.00,0.0,0.0,969.0,351.0,541.0,77.0,0.0,0.0
3,2021-01-01,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,12.0,5.28,1.00,2.23,0.0,3.50,0.0,0.0,1093.0,247.0,519.0,49.0,0.0,278.0
4,2021-01-01,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",107.0,10.0,4.12,0.00,5.88,0.0,0.00,0.0,0.0,430.0,289.0,0.0,141.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18619,2012-12-01,YX,Republic Airline,MIA,"Miami, FL: Miami International",1085.0,95.0,31.63,3.65,42.56,1.0,16.16,2.0,0.0,4734.0,1815.0,286.0,1431.0,21.0,1181.0
18620,2012-12-01,YX,Republic Airline,MKE,"Milwaukee, WI: General Mitchell International",51.0,5.0,3.77,0.00,1.00,0.0,0.23,0.0,0.0,138.0,108.0,0.0,18.0,0.0,12.0
18621,2012-12-01,YX,Republic Airline,MLB,"Melbourne, FL: Melbourne International",34.0,2.0,1.22,0.00,0.73,0.0,0.05,0.0,0.0,43.0,27.0,0.0,15.0,0.0,1.0
18622,2012-12-01,YX,Republic Airline,MLI,"Moline, IL: Quad City International",19.0,1.0,1.00,0.00,0.00,0.0,0.00,1.0,0.0,114.0,114.0,0.0,0.0,0.0,0.0
18623,2012-12-01,YX,Republic Airline,MSN,"Madison, WI: Dane County Regional-Truax Field",36.0,3.0,0.00,0.00,2.00,0.0,1.00,1.0,0.0,147.0,0.0,0.0,92.0,0.0,55.0

In [156]:
airline_delays.isna().sum()

date                    0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            53
arr_del15              59
carrier_ct             53
weather_ct             53
nas_ct                 53
security_ct            53
late_aircraft_ct       53
arr_cancelled          53
arr_diverted           53
arr_delay              53
carrier_delay          53
weather_delay          53
nas_delay              53
security_delay         53
late_aircraft_delay    53
dtype: int64

In [157]:
airline_delays.describe()

,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
count,18571.000000,18565.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000,18571.000000
mean,256.930537,29.386965,11.367502,1.579750,8.753863,0.160109,7.516253,3.109633,0.511335,1878.919714,780.193258,162.709763,368.205266,7.516504,560.266437
std,723.823685,94.740503,33.442243,5.789476,34.827073,0.815521,30.892833,18.660483,2.706007,6888.379306,2795.214819,697.233790,1693.305010,51.136848,2438.001567
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,31.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,136.500000,40.000000,0.000000,0.000000,0.000000,0.000000
50%,76.000000,8.000000,3.090000,0.000000,1.820000,0.000000,1.270000,0.000000,0.000000,421.000000,164.000000,0.000000,59.000000,0.000000,75.000000
75%,179.000000,20.000000,8.775000,1.080000,5.645000,0.000000,4.540000,2.000000,0.000000,1219.000000,519.000000,88.000000,210.000000,0.000000,307.000000
max,16086.000000,3402.000000,953.440000,199.190000,908.110000,28.910000,1416.790000,1017.000000,154.000000,305694.000000,105806.000000,26428.000000,63629.000000,3760.000000,130753.000000

In [164]:
cancelled = airline_delays['arr_cancelled']
cancelled.head(20)

0     2.0
1     0.0
2     0.0
3     0.0
4     0.0
5     3.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
Name: arr_cancelled, dtype: float64

In [165]:
airline_delays['carrier_delay']

0          20.0
1         174.0
2         351.0
3         247.0
4         289.0
          ...
18619    1815.0
18620     108.0
18621      27.0
18622     114.0
18623       0.0
Name: carrier_delay, Length: 18624, dtype: float64

In [166]:
airline_delays['carrier'].unique()

array(['9E', 'AA', 'AS', 'B6', 'DL', 'F9', 'G4', 'HA', 'MQ', 'NK', 'OH',
       'OO', 'QX', 'UA', 'WN', 'YV', 'YX', 'EV'], dtype=object)

In [161]:
airline_delays.index

RangeIndex(start=0, stop=18624, step=1)

In [162]:
print(airline_delays.shape)
airline_delays.isnull().sum()

(18624, 20)

date                    0
carrier                 0
carrier_name            0
airport                 0
airport_name            0
arr_flights            53
arr_del15              59
carrier_ct             53
weather_ct             53
nas_ct                 53
security_ct            53
late_aircraft_ct       53
arr_cancelled          53
arr_diverted           53
arr_delay              53
carrier_delay          53
weather_delay          53
nas_delay              53
security_delay         53
late_aircraft_delay    53
dtype: int64

In [167]:
airline_delays.groupby('arr_flights', dropna=False)['carrier'].max().head(50)

arr_flights
1.0     YX
2.0     YX
3.0     YX
4.0     YX
5.0     YX
6.0     YX
7.0     YX
8.0     YX
9.0     YX
10.0    YX
11.0    YV
12.0    YX
13.0    YX
14.0    YX
15.0    YX
16.0    YX
17.0    YX
18.0    YX
19.0    YX
20.0    YX
21.0    YX
22.0    YX
23.0    YX
24.0    YX
25.0    YX
26.0    YX
27.0    YX
28.0    YX
29.0    YX
30.0    YX
31.0    YX
32.0    YX
33.0    YX
34.0    YX
35.0    YX
36.0    YX
37.0    YX
38.0    YX
39.0    YX
40.0    YX
41.0    YX
42.0    YX
43.0    YX
44.0    YV
45.0    YX
46.0    YX
47.0    YX
48.0    YX
49.0    YX
50.0    YX
Name: carrier, dtype: object