# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import numpy as np


airline_delays = pd.read_csv('data/airline_delays_1_year.csv')
airline_delays['date'] = pd.to_datetime(airline_delays['date'], format='%b-%Y')

In [7]:
airline_delays

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021-01-01,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",110.0,1.0,0.63,0.00,0.38,0.0,0.00,2.0,0.0,32.0,20.0,0.0,12.0,0.0,0.0
1,2021-01-01,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",87.0,9.0,3.53,0.89,3.58,0.0,1.00,0.0,1.0,452.0,174.0,32.0,208.0,0.0,38.0
2,2021-01-01,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",79.0,7.0,3.87,1.00,2.13,0.0,0.00,0.0,0.0,969.0,351.0,541.0,77.0,0.0,0.0
3,2021-01-01,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,12.0,5.28,1.00,2.23,0.0,3.50,0.0,0.0,1093.0,247.0,519.0,49.0,0.0,278.0
4,2021-01-01,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",107.0,10.0,4.12,0.00,5.88,0.0,0.00,0.0,0.0,430.0,289.0,0.0,141.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18619,2020-12-01,YX,Republic Airline,MIA,"Miami, FL: Miami International",1085.0,95.0,31.63,3.65,42.56,1.0,16.16,2.0,0.0,4734.0,1815.0,286.0,1431.0,21.0,1181.0
18620,2020-12-01,YX,Republic Airline,MKE,"Milwaukee, WI: General Mitchell International",51.0,5.0,3.77,0.00,1.00,0.0,0.23,0.0,0.0,138.0,108.0,0.0,18.0,0.0,12.0
18621,2020-12-01,YX,Republic Airline,MLB,"Melbourne, FL: Melbourne International",34.0,2.0,1.22,0.00,0.73,0.0,0.05,0.0,0.0,43.0,27.0,0.0,15.0,0.0,1.0
18622,2020-12-01,YX,Republic Airline,MLI,"Moline, IL: Quad City International",19.0,1.0,1.00,0.00,0.00,0.0,0.00,1.0,0.0,114.0,114.0,0.0,0.0,0.0,0.0
18623,2020-12-01,YX,Republic Airline,MSN,"Madison, WI: Dane County Regional-Truax Field",36.0,3.0,0.00,0.00,2.00,0.0,1.00,1.0,0.0,147.0,0.0,0.0,92.0,0.0,55.0

In [8]:
airline_delays.head(10)

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021-01-01,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",110.0,1.0,0.63,0.00,0.38,0.00,0.00,2.0,0.0,32.0,20.0,0.0,12.0,0.0,0.0
1,2021-01-01,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",87.0,9.0,3.53,0.89,3.58,0.00,1.00,0.0,1.0,452.0,174.0,32.0,208.0,0.0,38.0
2,2021-01-01,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",79.0,7.0,3.87,1.00,2.13,0.00,0.00,0.0,0.0,969.0,351.0,541.0,77.0,0.0,0.0
3,2021-01-01,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,12.0,5.28,1.00,2.23,0.00,3.50,0.0,0.0,1093.0,247.0,519.0,49.0,0.0,278.0
4,2021-01-01,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",107.0,10.0,4.12,0.00,5.88,0.00,0.00,0.0,0.0,430.0,289.0,0.0,141.0,0.0,0.0
5,2021-01-01,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",5358.0,391.0,114.05,13.71,144.70,0.86,117.68,3.0,1.0,35063.0,16409.0,2003.0,7115.0,75.0,9461.0
6,2021-01-01,9E,Endeavor Air Inc.,ATW,"Appleton, WI: Appleton International",167.0,17.0,2.67,2.00,10.41,0.00,1.91,0.0,1.0,1928.0,581.0,922.0,277.0,0.0,148.0
7,2021-01-01,9E,Endeavor Air Inc.,AVL,"Asheville, NC: Asheville Regional",141.0,5.0,1.03,1.97,1.00,0.00,1.00,0.0,0.0,740.0,69.0,611.0,33.0,0.0,27.0
8,2021-01-01,9E,Endeavor Air Inc.,AZO,"Kalamazoo, MI: Kalamazoo/Battle Creek Internat...",95.0,9.0,3.97,1.00,4.03,0.00,0.00,0.0,0.0,1062.0,891.0,66.0,105.0,0.0,0.0
9,2021-01-01,9E,Endeavor Air Inc.,BDL,"Hartford, CT: Bradley International",143.0,20.0,5.31,0.00,13.69,0.00,1.00,0.0,0.0,880.0,497.0,0.0,349.0,0.0,34.0

In [9]:
airline_delays.shape

(18624, 20)

In [10]:
airline_delays.columns

Index(['date', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       ' arr_delay', ' carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [11]:
airline_delays.dtypes

date                   datetime64[ns]
carrier                        object
carrier_name                   object
airport                        object
airport_name                   object
arr_flights                   float64
arr_del15                     float64
carrier_ct                    float64
 weather_ct                   float64
nas_ct                        float64
security_ct                   float64
late_aircraft_ct              float64
arr_cancelled                 float64
arr_diverted                  float64
 arr_delay                    float64
 carrier_delay                float64
weather_delay                 float64
nas_delay                     float64
security_delay                float64
late_aircraft_delay           float64
dtype: object

In [12]:
pd.DataFrame(airline_delays.dtypes, columns=['Data Types'])

                         Data Types
date                 datetime64[ns]
carrier                      object
carrier_name                 object
airport                      object
airport_name                 object
arr_flights                 float64
arr_del15                   float64
carrier_ct                  float64
 weather_ct                 float64
nas_ct                      float64
security_ct                 float64
late_aircraft_ct            float64
arr_cancelled               float64
arr_diverted                float64
 arr_delay                  float64
 carrier_delay              float64
weather_delay               float64
nas_delay                   float64
security_delay              float64
late_aircraft_delay         float64

In [13]:
airline_delays.isnull()

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18619,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18620,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18621,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18622,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18623,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
airline_delays

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021-01-01,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",110.0,1.0,0.63,0.00,0.38,0.0,0.00,2.0,0.0,32.0,20.0,0.0,12.0,0.0,0.0
1,2021-01-01,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",87.0,9.0,3.53,0.89,3.58,0.0,1.00,0.0,1.0,452.0,174.0,32.0,208.0,0.0,38.0
2,2021-01-01,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",79.0,7.0,3.87,1.00,2.13,0.0,0.00,0.0,0.0,969.0,351.0,541.0,77.0,0.0,0.0
3,2021-01-01,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,12.0,5.28,1.00,2.23,0.0,3.50,0.0,0.0,1093.0,247.0,519.0,49.0,0.0,278.0
4,2021-01-01,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",107.0,10.0,4.12,0.00,5.88,0.0,0.00,0.0,0.0,430.0,289.0,0.0,141.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18619,2020-12-01,YX,Republic Airline,MIA,"Miami, FL: Miami International",1085.0,95.0,31.63,3.65,42.56,1.0,16.16,2.0,0.0,4734.0,1815.0,286.0,1431.0,21.0,1181.0
18620,2020-12-01,YX,Republic Airline,MKE,"Milwaukee, WI: General Mitchell International",51.0,5.0,3.77,0.00,1.00,0.0,0.23,0.0,0.0,138.0,108.0,0.0,18.0,0.0,12.0
18621,2020-12-01,YX,Republic Airline,MLB,"Melbourne, FL: Melbourne International",34.0,2.0,1.22,0.00,0.73,0.0,0.05,0.0,0.0,43.0,27.0,0.0,15.0,0.0,1.0
18622,2020-12-01,YX,Republic Airline,MLI,"Moline, IL: Quad City International",19.0,1.0,1.00,0.00,0.00,0.0,0.00,1.0,0.0,114.0,114.0,0.0,0.0,0.0,0.0
18623,2020-12-01,YX,Republic Airline,MSN,"Madison, WI: Dane County Regional-Truax Field",36.0,3.0,0.00,0.00,2.00,0.0,1.00,1.0,0.0,147.0,0.0,0.0,92.0,0.0,55.0

In [15]:
df.isna().sum()

NameError: name 'df' is not defined

In [ ]:
airline_delays.describe()

In [ ]:
cancelled = airline_delays['arr_cancelled']
cancelled.head(20)

In [ ]:
airline_delays['carrier_delay']

In [ ]:
airline_delays['carrier'].unique()

In [ ]:
airline_delays.index

In [ ]:
print(airline_delays.shape)
airline_delays.isnull().sum()

In [ ]:
airline_delays.groupby('arr_flights', dropna=False)['carrier'].max().head(50)

In [ ]:
ax = (
    airline_delays
    .groupby('airport_name')
    .arr_flights
    .sum() 
    .sort_values(ascending=False) 
    .head(10) 
    .plot(
        kind='pie',
        figsize=(20,8),
        title='Arrival Flights per Airport',
    )
)

ax.set_xlabel('Arrival Flights');
ax.set_ylabel('Airport Names')

In [ ]:
ax = (
    airline_delays
    .groupby('airport_name')
    .arr_flights
    .sum() 
    .sort_values(ascending=False) 
    .head(20) 
    .plot(
        kind='barh',
        figsize=(20,8),
        title='Arrival Flights per Airport',
    )
)

ax.set_xlabel('Arrival Flights');
ax.set_ylabel('Airport Names')

In [ ]:
carrier_delay_by_month = pd.pivot_table(airline_delays, index="carrier", columns="date", values="arr_del15",)
carrier_delay_by_month.plot(kind='barh', figsize=(20,20));

In [ ]:
null_df = pd.DataFrame(df.isnull().sum(), columns=['Count of Nulls'])
null_df.index.name = 'Column'
null_df.sort_values('Count of Nulls', ascending=False, inplace=True)
null_df.head(12)

In [ ]:
arriving_flights = airline_delays.dropna(how='any', subset=['arr_flights'])
arriving_flights.shape
arriving_flights.head(20)

In [ ]:
delay_df = arriving_flights[['carrier_name', 'airport_name', 'arr_flights', 'arr_del15']]

In [ ]:
null_df = pd.DataFrame(airline_delays.isnull().sum(), columns=['Count of Nulls'])
null_df.index.name = 'Column'
null_df.sort_values('Count of Nulls', ascending=False, inplace=True)
null_df.head(12)

In [ ]:
type(delay_df)

In [ ]:
delay_df.plot()

In [ ]:
def check_null_values(df):
    if df.isnull().values.any():
        display(df.isnull().sum())
    else:
        display("Null values don't exist")

In [ ]:
groupby carrier-->arrival delays-->plot
groupby airport--> arrival delays-->plot

In [ ]:
df = airline_delays.dropna(how='any', subset=['arr_flights'])

In [ ]:
df[['carrier','arr_del15']].value_counts(ascending=True).head(20)

In [ ]:
df.sort_values('carrier', ascending=True).head(10)

In [ ]:
carrier_groups = df.groupby('carrier')

In [ ]:
carrier_groups.count().head(18)

In [ ]:
total_flights = df['arr_flights'].sum()

In [ ]:
total_delays = df['arr_del15'].sum()

In [ ]:
print(total_delays)

In [ ]:
ax1 = df.plot.scatter(x='carrier',
                      y='carrier_ct',
                      c='DarkBlue', figsize=(15,15))

In [ ]:
ax = df.boxplot(column='weather_ct')

In [ ]:
sns.boxplot(data=df, x='carrier', y='carrier_ct')

In [ ]:
pd.plotting.scatter_matrix(
    df[['carrier', 'carrier_ct', 'weather_ct', 'nas_ct', 'security_ct', 'late_aircraft_ct']],
    figsize=(20, 20)
       );

In [ ]:
pd.crosstab(df['carrier'], df['airport'], values=df['arr_diverted'], aggfunc='sum').fillna('')

## Displaying the airlines with the most flight cancellations as a percentage of total arriving flights

In [ ]:
df_flights = df.groupby('carrier_name')['arr_flights'].sum().reset_index(name='num_arrived')
df_cancelled = df.groupby('carrier_name')['arr_cancelled'].sum().reset_index(name='num_cancelled')
df_cancelled = pd.merge(df_cancelled, df_flights, on='carrier_name')

df_cancelled['proportion'] = df_cancelled['num_cancelled'] / df_cancelled['num_arrived'] * 100

df_cancelled.sort_values(by=['proportion'], ascending=False).head(10)

In [ ]:
ax = sns.countplot(x='date',data=df,hue='carrier')
ax.set_title('Number of Flights by Carrier and Month')